 .news-wrap{ padding:30px;}
 .news-wrap .hdrtitle{ font-size:36px; color:#474848; font-family: 'latolight'; text-align:center}
  .news-wrap h6{ font-size:18px; color:#474848; font-style:italic; font-family: 'latolight'; text-align:center}