#gstintable thead th{font-size:12px;}
#gstintable tbody td{font-size:14px;}
#sel1{background-color: #eceeef;}
.group.upload-btn{font-size: 14px;}
.gstr-info-tabs .nav-link{min-width: 70px;text-align: center;}
input.form-control.tpseven-input.tpseven-input-edit ,input.form-control.tpseven-input{border: 1px solid #ccc;margin: 0;border-radius: 4px;padding: 3px 1px;height: 23px;}
.panel-heading.active{background-color: #8ee3fe;padding: 5px 10px;}
.panel-heading: first-child{border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;}
.panel-heading{background-color: #f7f7f9;padding: 5px 10px; border:1px solid rgba(0,0,0,.125)}
a.panel-title{ text-decoration:none ;font-weight: bold;}
a.panel-title .fa.pull-right {margin-left: 1.3em;margin-top: 0.3rem;}
.panel-heading .helpguide { float :right}
#dbTable3 tbody td , #dbTable4 tbody td , #dbTable5 tbody td{ padding-right: 18px;}
.gst-3b-error .help-block .list-unstyled li{text-align: left;line-height: 0.91;margin-top: -45px;margin-left: 0px;background-color: rgba(255, 255, 255, 0.77);border-radius: 4px;box-shadow: 0px 0px 8px #da8e8e;padding: 2px;}
.suplies-body{padding-bottom: 4rem!important;}
.db-ca-gst .help-block.with-errors{z-index: 2!important;}
.nav-bread{height:35px!important}
.helpguide{margin-bottom: 5px;margin-top: 3px;margin-left: 6px;height: 19px;display:none}
.acco-btn{font-weight:bold}
a.btn.btn-blue-dark.btn-sm{padding: 0px 7px!important;}
.db-ca-wrap{padding-top: 99px!important;}
.auto-row{background-color:#ffb6c15e!important} 
.inneracco{background-color: #f7f7f9;border-radius: 0;}
.inneracco .card{border: 1px solid rgba(0,0,0,.125);border-radius: 0;}
.inneracco .card .card-header{    padding: 2px 10px;border-radius: 0;}
.panel-heading > a[aria-expanded="false"]:after { font-family: FontAwesome;content: "\f067 "; float:right ;margin-left: 1.3em;margin-top: 0.3rem; font-weight: 500;}
.panel-heading > a[aria-expanded="true"]:after { font-family: FontAwesome;content: "\f068 ";  float:right;margin-left: 1.3em;margin-top: 0.3rem; font-weight: 500;}
.no-expa > a[aria-expanded="true"]:after , .no-expa > a[aria-expanded="false"]:after{display:none}
.acco-btn[aria-expanded="false"]:after { font-family: FontAwesome;content: "\f067 "; float:right ;margin-left: 1.3em;margin-top: 0.3rem; font-weight: 500;}
.acco-btn[aria-expanded="true"]:after { font-family: FontAwesome;content: "\f068 ";  float:right;margin-left: 1.3em;margin-top: 0.3rem; font-weight: 500;}
.db-ca-gst-wrap .accordion .card-header:after{content:none}
.acco-btn{width: 100%;text-align: left;box-shadow: none;text-decoration:none;padding: 0px!important; margin: 0px!important;background-color: #f7f7f9;color: #0279d8;}
.acco-btn:focus , .acco-btn:hover {box-shadow: none;    text-decoration: none;}
.db-ca-wrap table.dataTable.row-border tbody tr td:first-child{color: black;}