{"swagger":"2.0","host":"api.mastergst.com","basePath":"/","tags":[{"name":"Authentication","description":"Authentication API"},{"name":"GSTR","description":"GSTR API"},{"name":"GSTR1","description":"GSTR1 API"},{"name":"GSTR1A","description":"GSTR1A API"},{"name":"GSTR2","description":"GSTR2 API"},{"name":"GSTR2A","description":"GSTR2A API"},{"name":"GSTR2B","description":"GSTR2B API"},{"name":"GSTR2X","description":"GSTR2X API"},{"name":"GSTR3","description":"GSTR3 API"},{"name":"GSTR3B","description":"GSTR3B API"},{"name":"GSTR4","description":"GSTR4 API"},{"name":"GSTR4A","description":"GSTR4A API"},{"name":"GSTR4Annual","description":"GSTR4Annual API"},{"name":"GSTR5","description":"GSTR5 API"},{"name":"GSTR6","description":"GSTR6 API"},{"name":"GSTR6A","description":"GSTR6A API"},{"name":"GSTR7","description":"GSTR7 API"},{"name":"GSTR8","description":"GSTR8 API"},{"name":"GSTR9","description":"GSTR9 API"},{"name":"GSTR9A","description":"GSTR9A API"},{"name":"GSTR9C","description":"GSTR9C API"},{"name":"All","description":"All API Overview"},{"name":"ITC03","description":"ITC03 API"},{"name":"ITC04","description":"ITC04 API"},{"name":"CMP","description":"CMP API"},{"name":"Payment","description":"Payment API"},{"name":"Ledger","description":"GST Ledger"},{"name":"Public","description":"Public API"}],"schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/authentication/otprequest":{"get":{"tags":["Authentication"],"summary":"Request for OTP","description":"Tax payer and tax consultant using GSP application will be authenticated asynchronously using OTP. OTP Request API is used by the GSP to initiate the issue of OTP to tax payer.After the successful verification of request parameters, GST system sends the OTP to the taxpayer's primary business credentials through Email and SMS","operationId":"otpRequest","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"User Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful retrieval of OTP Request","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/authentication/authtoken":{"get":{"tags":["Authentication"],"summary":"Request for OTP","description":"Tax payer and tax consultant using GSP application will be authenticated asynchronously using OTP. OTP Request API is used by the GSP to initiate the issue of OTP to tax payer.After the successful verification of request parameters, GST system sends the OTP to the taxpayer's primary business credentials through Email and SMS","operationId":"otpRequest","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"User Email","required":true,"type":"string"},{"name":"otp","in":"query","description":"GST User Recived OTP","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful retrieval of OTP Request","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/authentication/refreshtoken":{"get":{"tags":["Authentication"],"summary":"Request for extension of authorization token","description":"Refresh token can be used by GSP to extend access through Authorization code and allow for access to data on behalf of tax payer / tax consultant without user intervention.","operationId":"refreshToken","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"User Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful retrieval of OTP Request","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/authentication/logout":{"get":{"tags":["Authentication"],"summary":"Request for logout","description":"Request for user logout.","operationId":"logout","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"User Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful logout Request","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/authentication/otpforevc":{"get":{"tags":["Authentication"],"summary":"Initiate OTP for EVC","description":"This API is used to send OTP to the users for filing through EVC.","operationId":"refreshToken","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"User Email","required":true,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"pan","in":"query","description":"Pan number of the authorised signatory","required":true,"type":"string"},{"name":"form_type","in":"query","description":"Form Number","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful retrieval of OTP Request","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/retsum":{"get":{"tags":["GSTR1"],"summary":"Get GSTR1 Summary","description":"Get the table wise summary of GSTR1 data.","operationId":"getGSTRSummary","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful, get the table wise summary of GSTR1 data.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/dociss":{"get":{"tags":["GSTR1"],"summary":"Get GSTR1 Document Issued","description":"Get the Document Issued details of GSTR1 data.","operationId":"getDocIssued","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful, get the table wise summary of GSTR1 data.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/cdnra":{"get":{"tags":["GSTR1"],"summary":"Get CDNRA Invoices","description":"Will call CDNRA for getting all amended Credit/Debit notes for a return period.","operationId":"getCDNRAInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"actionrequired","in":"query","description":"Status filter for filtering the invoices. Action_required = Y, fetches the invoices where tax payer need to take action (Accept/Reject). Already accepted or uploaded invoices can be fetched by using action_required=N filter.","required":false,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful call CDNA for getting all amended Credit/Debit notes for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr/retstatus":{"get":{"tags":["GSTR"],"summary":"Get Return Status","description":"Get the status of the Returns submitted","operationId":"getReturnStatus","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"returnperiod","in":"query","description":"Return Period","required":true,"type":"string"},{"name":"refid","in":"query","description":"Reference ID","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful, get the status of the Returns submitted","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr/rettrack":{"get":{"tags":["GSTR"],"summary":"View and Track Returns","description":"To view and track Returns status ","operationId":"getViewandTrackReturns","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"returnperiod","in":"query","description":"Return Period","required":true,"type":"string"},{"name":"type","in":"query","description":"Return Type Sample Value(R1)","required":false,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful, to View and Track Returns","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/b2cl":{"get":{"tags":["GSTR1"],"summary":"Get B2CL Invoices","description":"Getting all B2C Large invoices for a return period..","operationId":"getB2CLInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"statecd","in":"query","description":"State code","required":false,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful getting all B2C Large invoices for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/b2ba":{"get":{"tags":["GSTR1"],"summary":"Get B2BA Invoices","description":"Getting all B2BA invoices for a return period.","operationId":"getB2BAInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"actionrequired","in":"query","description":"Status filter for filtering the invoices. Action_required = Y, fetches the invoices where tax payer need to take action (Accept/Reject). Already accepted or uploaded invoices can be fetched by using action_required=N filter.","required":false,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"ctin","in":"query","description":"CTIN of the taxpayer","required":false,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful get all B2BA invoices for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/ata":{"get":{"tags":["GSTR1"],"summary":"Get ATA","description":"Getting amended advance tax details for a return period.","operationId":"getATA","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful, getting amended advance tax details for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/txp":{"get":{"tags":["GSTR1"],"summary":"Get TXP","description":"Getting tax paid details for a return period.","operationId":"getTXP","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful, getting tax paid details for a return period.\t","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/retsave":{"put":{"tags":["GSTR1"],"summary":"Save GSTR1 data","description":"Used to save entire GSTR1 invoices.","operationId":"saveGSTR","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"User Email","required":true,"type":"string"},{"name":"gstin","in":"header","description":"GST Number","required":true,"type":"string"},{"name":"ret_period","in":"header","description":"Return Period (MMYYYY)","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"},{"in":"body","name":"body","description":"Request Payload","required":true,"schema":{"type":"object","properties":{"gstin":{"type":"string","description":"GSTIN number","example":"27AHQPA7588L1ZJ"},"fp":{"type":"string","description":"Fp Type","example":"122016"},"gt":{"type":"number","description":"gt Type","example":3782969.01},"cur_gt":{"type":"number","description":"Document Number (Alphanumeric with / and - are allowed)","example":3782969.01},"b2b":{"type":"array","items":[{"type":"object","properties":{"ctin":{"type":"string","description":"Challan Temporary Identification Number","example":"01AABCE2207R1Z5"},"inv":{"type":"array","items":[{"type":"object","properties":{"inum":{"type":"string","description":"Invoice Number","example":"S008400"},"idt":{"type":"string","description":"Invoice Date","example":"24-11-2016"},"val":{"type":"number","description":"Invoice Value","example":729248.16},"pos":{"type":"string","description":"Place of Supply","example":"06"},"rchrg":{"type":"string","description":"Reverse Charge","example":"N"},"etin":{"type":"string","description":"etin Number","example":"01AABCE5507R1C4"},"inv_typ":{"type":"string","description":"Invoice Type","example":"R"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"itms":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"number","example":1},"itm_det":{"type":"object","properties":{"rt":{"type":"number","description":"item Rate","example":5},"txval":{"type":"number","description":"Taxable Value","example":10000},"iamt":{"type":"number","description":"igst Amount","example":325},"csamt":{"type":"number","description":"Cess Amount","example":500}}}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"b2ba":{"type":"array","items":[{"type":"object","properties":{"ctin":{"type":"string","description":"Challan Temporary Identification Number","example":"01AABCE2207R1Z5"},"inv":{"type":"array","items":[{"type":"object","properties":{"oinum":{"type":"string","description":"Original Invoice Number","example":"S008400"},"oidt":{"type":"string","description":"Original Invoice Date","example":"24-11-2016"},"inum":{"type":"string","description":"Invoice Number","example":"S008400"},"idt":{"type":"string","description":"Invoice Date","example":"24-11-2016"},"val":{"type":"number","description":"Invoice Amount","example":729248.16},"pos":{"type":"string","description":"Place Of Supply","example":"06"},"rchrg":{"type":"string","description":"Reverse Charge","example":"N"},"etin":{"type":"string","description":"etin number","example":"01AABCE5507R1C4"},"inv_typ":{"type":"string","description":"Invoice Type","example":"R"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"itms":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"number","example":1},"itm_det":{"type":"object","properties":{"rt":{"type":"number","description":"item Rate","example":5},"txval":{"type":"number","description":"Taxable Value","example":10000},"iamt":{"type":"number","description":"Igst Amount","example":325},"camt":{"type":"number","description":"CGST Amount","example":0},"samt":{"type":"number","description":"SGST Amount","example":0},"csamt":{"type":"number","description":"Cess Amount","example":500}}}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"b2cl":{"type":"array","items":[{"type":"object","properties":{"pos":{"type":"string","description":"Place Of Supply","example":"05"},"inv":{"type":"array","items":[{"type":"object","properties":{"inum":{"type":"string","description":"Invoice Number","example":"92661"},"idt":{"type":"string","description":"Invoice Date","example":"10-01-2016"},"val":{"type":"number","description":"Invoice Value","example":784586.33},"inv_typ":{"type":"string","description":"Invoice Type","example":"CBW"},"etin":{"type":"string","description":"etin","example":"27AHQPA8875L1CU"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"itms":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"item number","example":1},"itm_det":{"type":"object","properties":{"rt":{"type":"number","description":"rate","example":5},"txval":{"type":"number","description":"Taxable Value","example":10000},"iamt":{"type":"number","description":"Igst Amount","example":325},"csamt":{"type":"number","description":"Cess Amount","example":500}}}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"b2cla":{"type":"array","items":[{"type":"object","properties":{"pos":{"type":"string","description":"Place of Supply","example":"06"},"inv":{"type":"array","items":[{"type":"object","properties":{"oinum":{"type":"string","description":"Original Invoice Number","example":"9266"},"oidt":{"type":"string","description":"Original Invoice Date","example":"10-02-2016"},"inv_typ":{"type":"string","description":"Invoice Type","example":"CBW"},"diff_percent":{"type":"number","description":"Differencial percentage","example":0.65},"inum":{"type":"string","description":"Invoice Number","example":"92661"},"idt":{"type":"string","description":"Invoice Date","example":"10-01-2016"},"val":{"type":"number","description":"Invoice Value","example":784586.33},"etin":{"type":"string","description":"etin number","example":"01AABCE5507R1C4"},"itms":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"Number","example":1},"itm_det":{"type":"object","properties":{"rt":{"type":"number","description":"item rate","example":5},"txval":{"type":"number","description":"Taxable Value","example":10000},"iamt":{"type":"number","description":"Igst Amount","example":833.33}}}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"cdnr":{"type":"array","items":[{"type":"object","properties":{"ctin":{"type":"string","description":"ctin Number","example":"01AAAAP1208Q1ZS"},"nt":{"type":"array","items":[{"type":"object","properties":{"ntty":{"type":"string","description":"Note Type","example":"C"},"nt_num":{"type":"string","description":"Note Number","example":"533515"},"nt_dt":{"type":"string","description":"Note Date","example":"23-09-2016"},"p_gst":{"type":"string","description":"Pre GST","example":"N"},"inum":{"type":"string","description":"Invoice number","example":"915914"},"idt":{"type":"string","description":"Invoice Date","example":"23-09-2016"},"val":{"type":"number","description":"Invoice Value","example":123123},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"itms":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"item Number","example":1},"itm_det":{"type":"object","properties":{"rt":{"type":"number","description":"item Rate","example":10},"txval":{"type":"number","maxLength":100,"description":"Taxable Value","example":5225.28},"iamt":{"type":"number","description":"Igst Amount","example":339.64},"csamt":{"type":"number","description":"Cess Amount","example":789.52}}}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"cdnra":{"type":"array","items":[{"type":"object","properties":{"ctin":{"type":"string","description":"ctin number","example":"01AAAAP1208Q1ZS"},"nt":{"type":"array","items":[{"type":"object","properties":{"ntty":{"type":"string","description":"Note Type","example":"C"},"ont_num":{"type":"string","description":"Original Note Number","example":"533515"},"ont_dt":{"type":"string","description":"Original Note Date","example":"23-09-2016"},"nt_num":{"type":"string","description":"Note Number","example":"533515"},"nt_dt":{"type":"string","description":"Note Date","example":"23-09-2016"},"p_gst":{"type":"string","description":"Pre GST","example":"N"},"inum":{"type":"string","description":"Invoice Number","example":"915914"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"idt":{"type":"string","description":"Invoice Date","example":"23-09-2016"},"val":{"type":"number","description":"Invoice Value","example":123123},"itms":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"number","example":1},"itm_det":{"type":"object","properties":{"rt":{"type":"number","description":"Item rate","example":10},"txval":{"type":"number","maxLength":100,"description":"Taxable value","example":5225.28},"iamt":{"type":"number","description":"Igst Amount","example":845.22},"camt":{"type":"number","description":"CGST Amount","example":0},"samt":{"type":"number","description":"sgst Amount","example":0},"csamt":{"type":"number","description":"cess Amount","example":789.52}}}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"b2cs":{"type":"array","items":[{"type":"object","properties":{"sply_ty":{"type":"string","description":"Supply Type","example":"INTER"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"rt":{"type":"number","maxLength":100,"description":"Rate","example":5},"typ":{"type":"string","description":"Type","example":"E"},"etin":{"type":"string","description":"etin","example":"01AABCE5507R1C4"},"pos":{"type":"string","description":"Place Of Supply","example":"05"},"txval":{"type":"number","description":"Taxable Value","example":110},"iamt":{"type":"number","description":"igst Amount","example":10},"csamt":{"type":"number","description":"Cess Amount","example":10}},"required":["hsnCode","taxableAmount"]},{"type":"object","properties":{"rt":{"type":"number","description":"Rate","example":5},"sply_ty":{"type":"string","description":"Supply Type","example":"INTER"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"typ":{"type":"string","description":"Type","example":"OE"},"txval":{"type":"number","description":"Taxable Value","example":100},"iamt":{"type":"number","description":"igst Amount","example":10},"csamt":{"type":"number","description":"Cess Amount","example":10},"pos":{"type":"string","maxLength":100,"description":"Place Of Supply","example":"05"}}}]},"b2csa":{"type":"array","items":[{"type":"object","properties":{"omon":{"type":"string","description":"Original Month Of Invoice","example":"122016"},"sply_ty":{"type":"string","description":"Supply Type","example":"INTER"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"typ":{"type":"string","description":"Type","example":"E"},"etin":{"type":"string","description":"etin number","example":"01AABCE5507R1C4"},"pos":{"type":"string","description":"Place Of Supply","example":"05"},"itms":{"type":"array","items":[{"type":"object","properties":{"rt":{"type":"number","description":"Product / Item Rate","example":5},"txval":{"type":"number","description":"Taxable Value","example":110},"iamt":{"type":"number","description":"Igst Amount","example":10},"camt":{"type":"number","description":"CGST Amount","example":0},"samt":{"type":"number","description":"SGST Amount","example":0},"csamt":{"type":"number","description":"Cess Amount","example":10}}},{"type":"object","properties":{"rt":{"type":"number","description":"Product / Item Rate","example":12},"txval":{"type":"number","description":"Taxable Value","example":110},"iamt":{"type":"number","description":"Igst Amount","example":10},"camt":{"type":"number","description":"CGST Amount","example":0},"samt":{"type":"number","description":"SGST Amount","example":0},"csamt":{"type":"number","description":"Cess Amount","example":10}}}]}},"required":["hsnCode","taxableAmount"]}]},"exp":{"type":"array","items":[{"type":"object","properties":{"exp_typ":{"type":"string","description":"Export Type","example":"WPAY"},"inv":{"type":"array","items":[{"type":"object","properties":{"inum":{"type":"string","description":"Invoice Number","example":"81542"},"idt":{"type":"string","description":"Invoice Date","example":"12-02-2016"},"val":{"type":"number","description":"Invoice Value","example":995048.36},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"sbpcode":{"type":"string","description":"prort Code","example":"ASB991"},"sbnum":{"type":"string","description":"Shipping Bill Number","example":"7896542"},"sbdt":{"type":"string","description":"Shipping Bill Date","example":"04-10-2016"},"itms":{"type":"array","items":[{"type":"object","properties":{"txval":{"type":"number","description":"Taxable Value","example":10000},"rt":{"type":"number","description":"Product / Item Rate","example":5},"iamt":{"type":"number","description":"Igst Amount","example":833.33},"csamt":{"type":"number","description":"Cess Amount","example":100}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]},{"type":"object","properties":{"exp_typ":{"type":"string","description":"Export Type","example":"WOPAY"},"inv":{"type":"array","items":[{"type":"object","properties":{"inum":{"type":"string","description":"Invoice Number","example":"81542"},"idt":{"type":"string","description":"Invoice Date","example":"12-02-2016"},"val":{"type":"number","description":"Invoice Value","example":995048.36},"sbpcode":{"type":"string","description":"prort Code","example":"ASB981"},"sbnum":{"type":"string","description":"Shipping Bill Number","example":"7896542"},"sbdt":{"type":"string","description":"Shipping Bill Date","example":"04-10-2016"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"itms":{"type":"array","items":[{"type":"object","properties":{"txval":{"type":"number","description":"Taxable Value","example":10000},"rt":{"type":"number","description":"Product / Item Rate","example":0},"iamt":{"type":"number","description":"Igst Amount","example":0},"csamt":{"type":"number","description":"Cess Amount","example":100}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}}}]},"expa":{"type":"array","items":[{"type":"object","properties":{"exp_typ":{"type":"string","description":"Export Type","example":"WPAY"},"inv":{"type":"array","items":[{"type":"object","properties":{"oinum":{"type":"string","description":"Original Invoice Number","example":"81542"},"oidt":{"type":"string","description":"Original Invoice Date","example":"12-02-2016"},"inum":{"type":"string","description":"Invoice Number","example":"81542"},"idt":{"type":"string","description":"Invoice Date","example":"12-02-2016"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"val":{"type":"number","description":"Invoice Value","example":995048.36},"sbpcode":{"type":"string","description":"prort Code","example":"ASB995"},"sbnum":{"type":"string","description":"Shipping Bill Number","example":"1234567"},"sbdt":{"type":"string","description":"Shipping Bill Date","example":"04-10-2016"},"itms":{"type":"array","items":[{"type":"object","properties":{"txval":{"type":"number","description":"Taxable Value","example":10000},"rt":{"type":"number","description":"Product / Item Rate","example":5},"iamt":{"type":"number","description":"Igst Amount","example":833.33},"csamt":{"type":"number","description":"Cess Amount","example":100}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"hsn":{"type":"object","properties":{"data":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"Product / Item number","example":1},"hsn_sc":{"type":"string","description":"HSN/SAC CODE","example":"1009"},"desc":{"type":"string","description":"Goods Description","example":"Goods Description"},"uqc":{"type":"string","description":"uqc","example":"kg"},"qty":{"type":"number","description":"Quantity","example":2.05},"val":{"type":"number","description":"Invoice Value","example":995048.36},"txval":{"type":"number","description":"Taxable Value","example":10.23},"iamt":{"type":"number","description":"Igst Amount","example":14.52},"csamt":{"type":"number","description":"Cess Amount","example":500}},"required":["hsnCode","taxableAmount"]}]}}},"nil":{"type":"object","properties":{"inv":{"type":"array","items":[{"type":"object","properties":{"sply_ty":{"type":"string","description":"Supply Type","example":"INTRB2B"},"expt_amt":{"type":"number","description":"Exempted Amount","example":123.45},"nil_amt":{"type":"number","description":"Total Nil rated outward supplies","example":1470.85},"ngsup_amt":{"type":"number","description":"Total Non GST outward supplies","example":1258.5}},"required":["hsnCode","taxableAmount"]},{"type":"object","properties":{"sply_ty":{"type":"string","description":"Supply Type","example":"INTRB2C"},"expt_amt":{"type":"number","description":"Exempted Amount","example":123.45},"nil_amt":{"type":"number","description":"Total Nil rated outward supplies","example":1470.85},"ngsup_amt":{"type":"number","maxLength":100,"description":"Total Non GST outward supplies","example":1258.5}}}]}}},"txpd":{"type":"array","items":[{"type":"object","properties":{"pos":{"type":"string","description":"Place Of Supply","example":"05"},"sply_ty":{"type":"string","description":"Supply Type","example":"INTER"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"itms":{"type":"array","items":[{"type":"object","properties":{"rt":{"type":"number","description":"Product / Item Rate","example":5},"ad_amt":{"type":"number","description":"Advance to be adjusted","example":100},"iamt":{"type":"number","description":"Igst Amount","example":9400},"csamt":{"type":"number","description":"Cess Amount","example":500}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"txpda":{"type":"array","items":[{"type":"object","properties":{"omon":{"type":"string","description":"Original Month","example":"122016"},"pos":{"type":"string","description":"Place Of Supply","example":"05"},"sply_ty":{"type":"string","description":"Supply Type","example":"INTER"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"itms":{"type":"array","items":[{"type":"object","properties":{"rt":{"type":"number","description":"Product / Item Rate","example":5},"ad_amt":{"type":"number","description":"Advance to be adjusted","example":100},"iamt":{"type":"number","description":"Igst Amount","example":9400},"csamt":{"type":"number","description":"Cess Amount","example":500}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"at":{"type":"array","items":[{"type":"object","properties":{"pos":{"type":"string","description":"Place Of Supply","example":"05"},"sply_ty":{"type":"string","description":"Supply Type","example":"INTER"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"itms":{"type":"array","items":[{"type":"object","properties":{"rt":{"type":"number","description":"Product / Item Rate","example":5},"ad_amt":{"type":"number","description":"Advance to be adjusted","example":100},"iamt":{"type":"number","description":"Igst Amount","example":9400},"csamt":{"type":"number","description":"Cess Amount","example":500}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"ata":{"type":"array","items":[{"type":"object","properties":{"omon":{"type":"string","description":"Original Month","example":"022017"},"pos":{"type":"string","description":"Place Of Supply","example":"05"},"sply_ty":{"type":"string","description":"Supply Type","example":"INTER"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"itms":{"type":"array","items":[{"type":"object","properties":{"rt":{"type":"number","description":"Product / Item Rate","example":5},"ad_amt":{"type":"number","description":"Advance to be adjusted","example":100},"iamt":{"type":"number","description":"Igst Amount","example":9400},"csamt":{"type":"number","description":"Cess Amount","example":500}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"doc_issue":{"type":"object","properties":{"doc_det":{"type":"array","items":[{"type":"object","properties":{"doc_num":{"type":"number","description":"Document Number","example":1},"docs":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"Serial Number","example":1},"from":{"type":"string","description":"from Serial Number","example":"20"},"to":{"type":"string","description":"to Serial Number","example":"29"},"totnum":{"type":"number","description":"Total Number","example":20},"cancel":{"type":"number","description":"Cancelled","example":3},"net_issue":{"type":"number","description":"Net issued","example":17}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}}},"cdnur":{"type":"array","items":[{"type":"object","properties":{"typ":{"type":"string","description":"EXPWP/ EXPWOP/ B2CL","example":"B2CL"},"ntty":{"type":"string","description":"Credit/debit note type/ Refund Voucher","example":"C"},"nt_num":{"type":"string","description":"Credit note/debit note /  Refund Voucher Number","example":"533515"},"nt_dt":{"type":"string","description":"Credit Note/Debit Note/  Refund Voucher date","example":"23-09-2016"},"p_gst":{"type":"string","description":"Pre GST Regime Dr./ Cr. Notes","example":"N"},"inum":{"type":"string","description":"Invoice Number","example":"915914"},"idt":{"type":"string","description":"Invoice Date","example":"23-09-2016"},"val":{"type":"number","description":"Invoice Value","example":64646},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"itms":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"Product / Item number","example":1},"itm_det":{"type":"object","properties":{"rt":{"type":"number","description":"Product / Item Rate","example":10},"txval":{"type":"number","description":"Taxable Value","example":5225.28},"iamt":{"type":"number","description":"Product / Item Name","example":339.64},"csamt":{"type":"number","description":"Cess Amount","example":789.52}}}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"cdnura":{"type":"array","items":[{"type":"object","properties":{"ont_num":{"type":"string","description":"Original Credit note/debit note /  Refund Voucher Number","example":"533515"},"ont_dt":{"type":"string","description":"Original Credit Note/Debit Note/  Refund Voucher date","example":"23-09-2016"},"nt_num":{"type":"string","description":"Credit note/debit note /  Refund Voucher Number","example":"533515"},"nt_dt":{"type":"string","description":"Credit Note/Debit Note/  Refund Voucher date","example":"23-09-2016"},"ntty":{"type":"string","description":"Credit/debit note type/ Refund Voucher","example":"C"},"typ":{"type":"string","description":"EXPWP/ EXPWOP/ B2CL","example":"B2CL"},"p_gst":{"type":"string","description":"Pre GST Regime Dr./ Cr. Notes","example":"N"},"inum":{"type":"string","description":"Invoice Number","example":"915914"},"val":{"type":"number","description":"Invoice Value","example":123123},"idt":{"type":"string","description":"Invoice Date","example":"23-09-2016"},"diff_percent":{"type":"number","description":"Differencial Percentage","example":0.65},"itms":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"Product / Item number","example":1},"itm_det":{"type":"object","properties":{"rt":{"type":"number","description":"Product / Item Rate","example":10},"txval":{"type":"number","description":"Taxable Value","example":5225.28},"iamt":{"type":"number","description":"Product / Item Name","example":845.22},"csamt":{"type":"number","description":"Cess Amount","example":789.52}}}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["supplyType","subSupplyType","docType","docNo","docDate","fromGstin","fromPincode","fromStateCode","toGstin","toPincode","toStateCode","transMode","transDistance","itemList"]}}],"responses":{"200":{"description":"Successful save entire GSTR1 invoices.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/b2b":{"get":{"tags":["GSTR1"],"summary":"Get B2B Invoices","description":"Getting all B2B invoices for a return period.","operationId":"getB2BInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"actionrequired","in":"query","description":"Status filter for filtering the invoices. Action_required = Y, fetches the invoices where tax payer need to take action (Accept/Reject). Already accepted or uploaded invoices can be fetched by using action_required=N filter.","required":false,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"ctin","in":"query","description":"CTIN of the taxpayer","required":false,"type":"string"},{"name":"fromtime","in":"query","description":"From time format DD-MM-YYYY,20-12-2016","required":false,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful get all B2B invoices for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/b2cla":{"get":{"tags":["GSTR1"],"summary":"Get B2CLA Invoices","description":"Getting all B2C Large invoices with amendments for a return period.","operationId":"getB2CLAInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"statecd","in":"query","description":"State code","required":false,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful getting all B2C Large invoices with amendments for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/b2csa":{"get":{"tags":["GSTR1"],"summary":"Get B2CSA Invoices","description":"Will be used for getting all B2CSA HSN data for a return period.","operationId":"getB2CSAInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful getting all B2CSA HSN data for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/cdnr":{"get":{"tags":["GSTR1"],"summary":"Get CDNR Invoices","description":"Will call CDNR for getting all Credit/Debit notes for a return period.","operationId":"getCDNInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"actionrequired","in":"query","description":"Status filter for filtering the invoices. Action_required = Y, fetches the invoices where tax payer need to take action (Accept/Reject). Already accepted or uploaded invoices can be fetched by using action_required=N filter.","required":false,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful call CDN for getting all Credit/Debit notes for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/at":{"get":{"tags":["GSTR1"],"summary":"Get AT","description":"Getting advance tax details for a return period.","operationId":"getAT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful, getting advance tax details for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/expa":{"get":{"tags":["GSTR1"],"summary":"Get EXPA","description":"Getting amended invoices related to supplies exported for a return period.","operationId":"getEXPA","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful, getting amended invoices related to supplies exported for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/b2cs":{"get":{"tags":["GSTR1"],"summary":"Get B2CS Invoices","description":"Will be used for getting all B2C HSN data for a return period.","operationId":"getB2CSInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful getting all B2C HSN data for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/exp":{"get":{"tags":["GSTR1"],"summary":"Get EXP","description":"Getting invoices related to supplies exported for a return period.","operationId":"getEXP","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful, getting invoices related to supplies exported for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/nil":{"get":{"tags":["GSTR1"],"summary":"Get Nil Rated Supplies","description":"NIL for getting liabilities such as 'Nil Rated', 'Exempted', and 'Non GST' supplies for a return period. ","operationId":"getNilRatedSupplies","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful, NIL for getting liabilities such as 'Nil Rated', 'Exempted', and 'Non GST' supplies for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/hsnsum":{"get":{"tags":["GSTR1"],"summary":"Get HSN Summary details","description":"Getting HSN Summary details.","operationId":"getHSNSummaryDetails","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful, getting HSN Summary details.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/cdnur":{"get":{"tags":["GSTR1"],"summary":"API call for getting all Credit/ Debit Notes issued to un-registered persons for a return period.","description":"API call for getting all Credit/ Debit Notes issued to un-registered persons for a return period.","operationId":"getCDNUR","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful to get the detailed Cash Ledger for the specified period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/cdnura":{"get":{"tags":["GSTR1"],"summary":"API call for getting all amended Credit/ Debit Notes issued to un-registered persons for a return period.","description":"API call for getting all amended Credit/ Debit Notes issued to un-registered persons for a return period.","operationId":"getCDNURA","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful to get the detailed Cash Ledger for the specified period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/retfile":{"post":{"tags":["GSTR1"],"summary":"File GSTR1 data","description":"Used to file entire GSTR1 invoices.","operationId":"fileGSTR","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"signedcontent","description":"Request Payload Format : {\"content\":\"{\"gstin\": \"37ABCDE9552F3Z4\", \"ret_period\": \"072017\",\"chksum\": \"AflJufPlFStqKBZ\",\"summ_typ\": \"L\"}\",\"pkcs7\":\"MIIFrwYJKoZIhvcNAQcCoI==\"}","required":true,"schema":{"type":"string"}},{"name":"email","in":"query","description":"API Developer User Email","required":true,"type":"string"},{"name":"pan","in":"query","description":"PAN Number","required":true,"type":"string"},{"name":"gstin","in":"header","description":"GST Number","required":true,"type":"string"},{"name":"ret_period","in":"header","description":"Return Period (MMYYYY)","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful save entire GSTR1 invoices.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/retevcfile":{"post":{"tags":["GSTR1"],"summary":"File GSTR1 data","description":"Used to file entire GSTR1 invoices using EVC.","operationId":"fileGSTRByEVC","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"content","description":"Request Payload Format : {\"content\":\"{\"gstin\": \"37ABCDE9552F3Z4\", \"ret_period\": \"072017\",\"chksum\": \"AflJufPlFStqKBZ\",\"summ_typ\": \"L\"}\"}","required":true,"schema":{"type":"string"}},{"name":"email","in":"query","description":"API Developer User Email","required":true,"type":"string"},{"name":"pan","in":"query","description":"PAN Number","required":true,"type":"string"},{"name":"evcotp","in":"query","description":"OTP for EVC","required":true,"type":"string"},{"name":"gstin","in":"header","description":"GST Number","required":true,"type":"string"},{"name":"ret_period","in":"header","description":"Return Period (MMYYYY)","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful save entire GSTR1 invoices.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1/retsubmit":{"post":{"tags":["GSTR1"],"summary":"Submit GSTR1 data","description":"Used to submit entire GSTR1 invoices.","operationId":"submitGSTR","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Request Payload","required":true,"schema":{"type":"string"}},{"name":"email","in":"query","description":"User Email","required":true,"type":"string"},{"name":"gstin","in":"header","description":"GST Number","required":true,"type":"string"},{"name":"ret_period","in":"header","description":"Return Period (MMYYYY)","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful save entire GSTR1 invoices.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1a/retsave":{"put":{"tags":["GSTR1A"],"summary":"Save GSTR1A data","description":"Used to save entire GSTR1A invoices.","operationId":"saveGSTR","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"User Email","required":true,"type":"string"},{"name":"gstin","in":"header","description":"GST Number","required":true,"type":"string"},{"name":"ret_period","in":"header","description":"Return Period (MMYYYY)","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"},{"in":"body","name":"body","description":"Request Payload","required":true,"schema":{"type":"object","properties":{"gstin":{"type":"string","description":"GSTIN number","example":"25ABCDE1028F6Z4"},"fp":{"type":"string","description":"Financial Period","example":"062016"},"b2b":{"type":"array","items":[{"type":"object","properties":{"ctin":{"type":"string","description":"ctin Number","example":"01AABCE2207R1Z5"},"inv":{"type":"array","items":[{"type":"object","properties":{"flag":{"type":"string","description":"Flag Type","example":"A"},"chksum":{"type":"string","description":"Checksum Value","example":"BBUIBUIUIJKKBJKGUYFTFGUY"},"inum":{"type":"string","description":"Invoice Number","example":"S008400"},"idt":{"type":"string","description":"Invoice Date","example":"24-11-2016"},"val":{"type":"number","description":"Invoice Value","example":729248.16},"pos":{"type":"string","description":"Place of Supply","example":"06"},"rchrg":{"type":"string","description":"Reverse Charge","example":"N"},"inv_typ":{"type":"string","description":"Invoice Type","example":"R"},"itms":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"Product / Item Number","example":1},"itm_det":{"type":"object","properties":{"rt":{"type":"number","description":"Item Rate","example":5},"txval":{"type":"number","description":"Taxable Value","example":10000},"iamt":{"type":"number","description":"Igst Amount","example":0},"camt":{"type":"number","description":"Cgst Amount","example":500},"samt":{"type":"number","description":"Taxable Amount","example":900},"csamt":{"type":"number","description":"Taxable Amount","example":500}}}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"b2ba":{"type":"array","items":[{"type":"object","properties":{"ctin":{"type":"string","description":"ctin Number","example":"01AABCE2207R1Z5"},"inv":{"type":"array","items":[{"type":"object","properties":{"flag":{"type":"string","description":"Flag Type","example":"A"},"chksum":{"type":"string","description":"Checksum Value","example":"BBUIBUIUIJKKBJKGGYGUYFTFGUY"},"oinum":{"type":"string","description":"Original Invoice Number","example":"S008400"},"oidt":{"type":"string","maxLength":100,"description":"Original Invoice Date","example":"24-11-2016"},"inum":{"type":"string","description":"Invoice Number","example":"S008400"},"idt":{"type":"string","description":"Invoice Date","example":"24-11-2016"},"val":{"type":"number","description":"Invoice Value","example":729248.16},"pos":{"type":"string","description":"Place of Supply","example":"06"},"rchrg":{"type":"string","description":"Reverse Charge","example":"N"},"inv_typ":{"type":"string","description":"Invoice Type","example":"R"},"itms":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"Product / Item Number","example":1},"itm_det":{"type":"object","properties":{"rt":{"type":"number","description":"Item Rate","example":5},"txval":{"type":"number","description":"Taxable Value","example":10000},"iamt":{"type":"number","description":"Igst Amount","example":0},"camt":{"type":"number","description":"Unit","example":500},"samt":{"type":"number","description":"Taxable Amount","example":900},"csamt":{"type":"number","description":"Taxable Amount","example":500}}}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"cdnr":{"type":"array","items":[{"type":"object","properties":{"ctin":{"type":"string","description":"ctin Number","example":"01AAAAP1208Q1ZS"},"nt":{"type":"array","items":[{"type":"object","properties":{"flag":{"type":"string","description":"Flag Type","example":"A"},"chksum":{"type":"string","description":"Checksum Value","example":"ADSDSFSJSKSSSSQ"},"ntty":{"type":"string","description":"Type Of Voucher","example":"C"},"nt_num":{"type":"string","description":"Note Number","example":"533515"},"nt_dt":{"type":"string","description":"Note Date","example":"23-09-2016"},"rsn":{"type":"string","description":"Reason","example":"Not Mentioned"},"p_gst":{"type":"string","description":"Pre GST Regime Dr./ Cr. Notes","example":"N"},"inum":{"type":"string","description":"Invoice Number","example":"915914"},"idt":{"type":"string","description":"Invoice Date","example":"23-09-2016"},"val":{"type":"number","description":"Invoice Value","example":123123},"itms":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"Product / Item Number","example":1},"itm_det":{"type":"object","properties":{"rt":{"type":"number","description":"Item Rate","example":10},"txval":{"type":"number","description":"Taxable Value","example":5225.28},"iamt":{"type":"number","description":"Igst Amount","example":845.22},"camt":{"type":"number","description":"Cgst Amount","example":0},"samt":{"type":"number","description":"Sgst Amount","example":0},"csamt":{"type":"number","description":"CESS Amount","example":789.52}}}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]},"cdnra":{"type":"array","items":[{"type":"object","properties":{"ctin":{"type":"string","description":"ctin Number","example":"01AAAAP1208Q1ZS"},"nt":{"type":"array","items":[{"type":"object","properties":{"flag":{"type":"string","description":"Flag Type","example":"A"},"chksum":{"type":"string","description":"Checksum Value","example":"ADSDSFSJSKSSSSQ"},"ont_num":{"type":"string","description":"Original note number","example":"533515"},"ont_dt":{"type":"string","description":"Original note Date","example":"23-09-2016"},"ntty":{"type":"string","description":"Type Of Voucher","example":"C"},"nt_num":{"type":"string","description":"Note Number","example":"533515"},"nt_dt":{"type":"string","description":"Note Date","example":"23-09-2016"},"rsn":{"type":"string","description":"Reason","example":"Not Mentioned"},"p_gst":{"type":"string","description":"Pre GST Regime Dr./ Cr. Notes","example":"N"},"val":{"type":"number","description":"Invoice Value","example":123123},"itms":{"type":"array","items":[{"type":"object","properties":{"num":{"type":"number","description":"Product / Item Number","example":1},"itm_det":{"type":"object","properties":{"rt":{"type":"number","description":"Item Rate","example":10},"txval":{"type":"number","description":"Taxable Value","example":5225.28},"iamt":{"type":"number","description":"Igst Amount","example":845.22},"camt":{"type":"number","description":"Cgst Amount","example":0},"samt":{"type":"number","description":"Sgst Amount","example":0},"csamt":{"type":"number","description":"CESS Amount","example":789.52}}}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["hsnCode","taxableAmount"]}]}},"required":["supplyType","subSupplyType","docType","docNo","docDate","fromGstin","fromPincode","fromStateCode","toGstin","toPincode","toStateCode","transMode","transDistance","itemList"]}}],"responses":{"200":{"description":"Successful save entire GSTR1A invoices.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1a/b2b":{"get":{"tags":["GSTR1A"],"summary":"Get B2B Invoices","description":"Getting all B2B invoices for a return period.","operationId":"getB2BInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"actionrequired","in":"query","description":"Status filter for filtering the invoices. Action_required = Y, fetches the invoices where tax payer need to take action (Accept/Reject). Already accepted or uploaded invoices can be fetched by using action_required=N filter.","required":false,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"ctin","in":"query","description":"CTIN of the taxpayer","required":false,"type":"string"},{"name":"fromtime","in":"query","description":"From time format DD-MM-YYYY,20-12-2016","required":false,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful get all B2B invoices for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1a/cdnr":{"get":{"tags":["GSTR1A"],"summary":"Get CDN Invoices","description":"Will call CDN for getting all Credit/Debit notes in GSTR1A for a return period.","operationId":"getCDNInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"actionrequired","in":"query","description":"Status filter for filtering the invoices. Action_required = Y, fetches the invoices where tax payer need to take action (Accept/Reject). Already accepted or uploaded invoices can be fetched by using action_required=N filter.","required":false,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"ctin","in":"query","description":"CTIN of the taxpayer","required":false,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful call CDN for getting all Credit/Debit notes in GSTR1A for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1a/retsubmit":{"post":{"tags":["GSTR1A"],"summary":"Submit GSTR1A data","description":"Used to Submit entire GSTR1A invoices.","operationId":"submitGSTR","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Request Payload","required":true,"schema":{"type":"string"}},{"name":"email","in":"query","description":"User Email","required":true,"type":"string"},{"name":"gstin","in":"header","description":"GST Number","required":true,"type":"string"},{"name":"ret_period","in":"header","description":"Return Period (MMYYYY)","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful save entire GSTR1A invoices.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1a/retsum":{"get":{"tags":["GSTR1A"],"summary":"Get GSTR1A Summary","description":"Get the table wise summary of GSTR1A data.","operationId":"getGSTR1ASummary","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful, get the table wise summary of GSTR1A data.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr1a/retfile":{"post":{"tags":["GSTR1A"],"summary":"File GSTR1A data","description":"Used to file entire GSTR1A invoices.","operationId":"fileGSTR","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"signedcontent","description":"Request Payload Format : {\"content\":\"{\"gstin\": \"37ABCDE9552F3Z4\", \"ret_period\": \"072017\",\"chksum\": \"AflJufPlFStqKBZ\",\"summ_typ\": \"L\"}\",\"pkcs7\":\"MIIFrwYJKoZIhvcNAQcCoI==\"}","required":true,"schema":{"type":"string"}},{"name":"email","in":"query","description":"API Developer User Email","required":true,"type":"string"},{"name":"pan","in":"query","description":"PAN Number","required":true,"type":"string"},{"name":"gstin","in":"header","description":"GST Number","required":true,"type":"string"},{"name":"ret_period","in":"header","description":"Return Period (MMYYYY)","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful save entire GSTR1A invoices.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr2/b2b":{"get":{"tags":["GSTR2"],"summary":"Get B2B Invoices","description":"Getting all B2B invoices for a return period.","operationId":"getB2BInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"actionrequired","in":"query","description":"Status filter for filtering the invoices. Action_required = Y, fetches the invoices where tax payer need to take action (Accept/Reject). Already accepted or uploaded invoices can be fetched by using action_required=N filter.","required":false,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"ctin","in":"query","description":"CTIN of the taxpayer","required":false,"type":"string"},{"name":"fromtime","in":"query","description":"From time format DD-MM-YYYY,20-12-2016","required":false,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful get all B2B invoices for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr2/b2bur":{"get":{"tags":["GSTR2"],"summary":"Get B2B Unregistered Invoice","description":"Getting all B2B Unregistered Invoice for a return period.","operationId":"getB2BUnregisteredInvoice","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful get B2B Unregistered Invoice for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr2/cdn":{"get":{"tags":["GSTR2"],"summary":"Get CDNR Invoices","description":"Will call CDN for getting all Credit/Debit notes for a return period.","operationId":"getCDNInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"actionrequired","in":"query","description":"Status filter for filtering the invoices. Action_required = Y, fetches the invoices where tax payer need to take action (Accept/Reject). Already accepted or uploaded invoices can be fetched by using action_required=N filter.","required":false,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"ctin","in":"query","description":"CTIN of the taxpayer","required":false,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful call CDN for getting all Credit/Debit notes for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr2/b2ba":{"get":{"tags":["GSTR2"],"summary":"Get B2BA Invoices","description":"Getting all B2BA invoices for a return period.","operationId":"getB2BAInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"actionrequired","in":"query","description":"Status filter for filtering the invoices. Action_required = Y, fetches the invoices where tax payer need to take action (Accept/Reject). Already accepted or uploaded invoices can be fetched by using action_required=N filter.","required":false,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"ctin","in":"query","description":"CTIN of the taxpayer","required":false,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful get all B2BA invoices for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr2/cdna":{"get":{"tags":["GSTR2"],"summary":"Get CDNRA Invoices","description":"Will call CDNA for getting all amended Credit/Debit notes for a return period.","operationId":"getCDNAInvoices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"actionrequired","in":"query","description":"Status filter for filtering the invoices. Action_required = Y, fetches the invoices where tax payer need to take action (Accept/Reject). Already accepted or uploaded invoices can be fetched by using action_required=N filter.","required":false,"type":"string"},{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"ctin","in":"query","description":"CTIN of the taxpayer","required":false,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful call CDNA for getting all amended Credit/Debit notes for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr2/cdnur":{"get":{"tags":["GSTR2"],"summary":"Get CDN Unregistered.","description":"API call for getting CDN Unregistered invoices for a return period.","operationId":"getCDNUR","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful to get the detailed Cash Ledger for the specified period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr2/nil":{"get":{"tags":["GSTR2"],"summary":"Get Nil Rated Invoice","description":"Getting invoices related to Nil related for a return period ","operationId":"getNilRatedInvoice","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":true,"type":"string"},{"name":"email","in":"query","description":"Email","required":true,"type":"string"},{"name":"gst_username","in":"header","description":"GST UserName","required":true,"type":"string"},{"name":"state_cd","in":"header","description":"State Code","required":true,"type":"string"},{"name":"ip_address","in":"header","description":"IP Address","required":true,"type":"string"},{"name":"txn","in":"header","description":"Transaction","required":true,"type":"string"},{"name":"client_id","in":"header","description":"Client ID","required":true,"type":"string"},{"name":"client_secret","in":"header","description":"Client Secret","required":true,"type":"string"}],"responses":{"200":{"description":"Successful, NIL for getting liabilities such as 'Nil Rated', 'Exempted', and 'Non GST' supplies for a return period.","schema":{"$ref":"#/definitions/Response"}},"404":{"description":"Not Found. If requested entity is not found or if requested API is not found."},"500":{"description":"Internal server error"}}}},"/gstr2/impg":{"get":{"tags":["GSTR2"],"summary":"Get IMPG","description":"Get import of goods Invoices.","operationId":"getIMPG","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"gstin","in":"query","description":"GSTIN of the taxpayer","required":true,"type":"string"},{"name":"retperiod","in":"query","description":"Return Period format MMYYYY","required":t
[...]
