.nav-tabs-wrap { background-color:#8ee3fe; margin-bottom:20px }
.nav-tabs-right { clear: both; float:right; margin-bottom: -1px; }
.nav-tabs-wrap .nav-tabs .nav-link:hover, .nav-tabs-wrap .nav-tabs .nav-link.active { background-color:transparent; border:0; color:#5f70be; }
.nav-tabs-wrap .nav-tabs a.nav-link { color:#fff; font-weight:bold; font-size:14px; padding:15px 20px }
.nav-tabs-wrap .nav-tabs { margin:auto }
.db-inner-txt { background-color:#fff; padding:30px; margin-top:80px }
.nav-tabs-wrap .nav-tabs .nav-link { position:relative }
.nav-tabs-wrap .nav-tabs .nav-link.active:after { content: ''; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 17px solid #fff; position: absolute; bottom: -32px; left: 40%; }
.rowbdr { border-bottom:1px solid #f6f9fb; display:table; width:100% }
.bdr-dashed { border-left:1px dashed #ccd5da; -webkit-box-flex: 0; -webkit-flex: 0 0 1%; -ms-flex: 0 0 1%; flex: 0 0 1%; max-width: 1%; height:100%; margin:auto }
.icon-l { float:left }
.icon-r { float:left; margin-left:10px; width:75% }
.userimg { background-color:#f6f9fb; height:44px; width:44px; border-radius:50%; }
.usertxt { color: #515151; font-weight: 600; font-size: 14px; vertical-align: middle; white-space: nowrap; word-wrap: break-word; }
.icon-l .cred-sprite { float:left }
.icon-r .icontxt { float: left; font-size: 14px; }
.cred-sprite { background:url(../../images/credentials/sprite-credentials.png) left top no-repeat; display:inline-block; vertical-align:middle }
.credicon1 { background-position:0 0; height:32px; width:32px; }
.credicon2 { background-position:-58px 0; height:32px; width:32px; }
.credicon3 { background-position:-108px 0; height:32px; width:32px; }
.credicon4 { background-position:-163px 0; height:32px; width:32px; }
.credicon5 { background-position:-209px 0; height:32px; width:32px; }
.profilelist { margin:0; padding:0; list-style:none }
.profilelist li { float:left; padding:10px 0; width:100% }
.dropdown-menu .profilelist li { padding:2px 0 }
.dropdown-menu .profilelist li.rowbdr { margin-bottom:10px }
.mainnav-right .dropdown-menu.dropdown-menu-right { width:300px }
li.divider { background-color: #e5e5e5; padding: 1px 0 !important; margin: 5px 0; }
.subscript_details_box .table_custom { width:100% }
.subscript_details_box { display:table; padding:8px; margin-bottom:10px; position:relative; width:100%; }
.subscript_details_box h3, .subscript_details_box h6 { color:#26b1f3; margin:0 0 2px }
.subscript_details_box .table_row { margin-bottom:8px; }
.table_fild { font-size: 12px; color: #aaa; display: table-cell; padding: 1px; width: 50%; }
.table_txt { font-size: 13px; color: #333; display: table-cell; padding: 1px; }
.itemlist{ margin:0; padding:0;}
.itemlist li{ font-size:14px; list-style-type: square}
.itemlist li a{ padding:5px 10px; margin:0}
.bdr-dashed-r{ float:right;     border-right: 1px dashed #ccd5da; padding:0 20px}
.welcomehr{ font-size:14px; background-color:#f5f5f5; padding:10px;}
.parafnt{ font-size:12px; margin-bottom:5px;text-indent: 25px;}
.presize{ font-size:16px; background-color:#f5f5f5; color:#FF3300; padding:10px;}
.stpsblock{ font-size:12px;}
.credentialwrap .gstr-info-tabs .nav-tabs .nav-link.active::before, .credentialwrap .gstr-info-tabs .nav-tabs .nav-link:hover::before{border-top: 10px solid #fff;}
.welhdr{background-color: #f5f5f5;padding: 10px;}
.welspn{margin-right: 10px;}
.modal-content{padding: 0!important}
.modal-header{padding: 0!important;color: white;}
.bluehdr{color: white!important}
.modal-footer.text-center{padding-top: 0!important}
.checkbox{text-align: center;padding: 0!important;}
p.col-md-2.col-sm-12{text-indent: 15px;}
p.col-md-10.col-sm-12{padding-left: 26px;}
.btn.btn-blue{background-color: #344371;}
.cross{margin-top: 16px;height: 20px;width: 20px;position: relative; margin-right: 5px;}
.meterialform .form-group, .meterialform .form-radio{margin-top: 0px!important;margin-bottom: 18px;}
.btn-darkblue, .btn-modeldarkblue{color: white!important;background-color: #344371;margin-bottom: 10px;}
.btn-darkblue {position: absolute;right: 0px;top: 3%}
.btn-darkblue:hover, .btn-modeldarkblue:hover{background-color: #8ee3fe;}
span.selcol {color: red;}
.meterialform .checkbox .helper{color: #344371!important;top: 4px!important;left: 5px!important;}
.meterialform .checkbox label, .meterialform .form-radio label{font-size: 14px;}
ol.prokeylist li {width: 48%;float: left;padding: 0 25px 0 5px;font-size: 14px;list-style-position: outside;}
.prolisthrd{font-size: 15px;}
#credential #dbTable_filter{display:none;}
.new_return_txt {color: red; font-size: 12px; margin-left: 3px;}  
